

/*ESTILOS DE LAS CARD/TARJETAS*/
.card h2 {
    color: #aabf16;
}


.lucide {
    stroke-width: 3.2;
}

/*ANIMACION HUELLA*/
.card-body button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #c8d169;
    border-radius: 20px;
    border: none;
    height: 36px;
    width: 120px;
    padding: 16px;
    justify-content: space-between;
    font-size: 16px;
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
}

.huellas-icon {
    height: 18px;
    color: #fffdf9;
    fill: #fffdf9;
}

@-webkit-keyframes shake-bl {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-bl {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

button:hover .huellas-icon {
    animation: shake-bl 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

button:hover {
    background-color: #aabf16;
}

a {
    color: #fffdf9;
    text-decoration: none;
}

a:hover {
    color: #fffdf9;
}

/*ANIMACION ZOOM FOTO*/

.animal-img-wrapper{
    height: 39rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.animal-img {
    width: 100%;
    transition: transform 0.4s ease;
}
.adopta-card:hover .animal-img{
    transform: scale(1.1);
}

/*LEYENDA ANIMALES*/
.leyenda-animales{
    font-weight: 600;
    display: inline-block;
}

.disponible{
    background-color: #aabf16;
    color: #fffdf9;
    padding: 6px 12px;
    border-radius: 8px;
    margin: 5px;
}

.adoptado{
    background-color: #9dd7ec;
    color: #fffdf9;
    padding: 8px;
    border-radius: 8px;
    margin: 5px;
}

.acogida{
    background-color: #e8aa61;
    color: #fffdf9;
    padding: 8px;
    border-radius: 8px;
    margin: 5px;
}

.urgente{
    background-color: #e45f51;
    color: #fffdf9;
    padding: 8px;
    border-radius: 8px;
    margin: 5px;
}

/*CARDS ADOPTAR GENERICO*/
/*.card-body{
    height: 355px;
}*/

.adopta-card{
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 12px rgba(170, 191, 22, 0.35);
}


/*EN PROCESO DE ADOPCIÓN*/
.adopta-card-proceso{
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 12px rgba(157, 215, 236, 0.90);
}
.adopta-card-proceso h2{
    color: #9dd7ec;
}

.adopta-card-proceso:hover .animal-img, .adopta-card-acogida:hover .animal-img, .adopta-card-urgente:hover .animal-img{
    transform: scale(1.1);
}

/*ADOPCIÓN URGENTE*/
.adopta-card-urgente{
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 12px rgba(228, 95, 91, 0.90);
}
.adopta-card-urgente h2{
    color: #e45f51;
}

/*EN CASA DE ACOGIDA*/
.adopta-card-acogida{
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 12px rgba(232, 170, 97, 0.90);
}
.adopta-card-acogida h2{
    color: #e8aa61;
}


/*VERSION MOVIL*/

@media (max-width:992px){
    .animal-img-wrapper{
    height: 18rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/*
    .card-body{
    height: 300px;
}
*/
}

.adopta-card,
.adopta-card-proceso,
.adopta-card-urgente,
.adopta-card-acogida {
    display: flex;
    flex-direction: column;
}

.adopta-card .card-body,
.adopta-card-proceso .card-body,
.adopta-card-urgente .card-body,
.adopta-card-acogida .card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-body button {
    margin-top: auto;
    margin-bottom: 15px;
}

.card > .row {
    flex: 1;
}

.card > .row > div:last-child {
    display: flex;
}