.card{
    border-width: 0;
}

h3 {
    font-size: 16pt;
    padding: 10px;
    color: white;
    background-color: #abbf16a9;
    border-radius: 12px;
}

.form-label {
    font-size: 18px;
    font-weight: 700;
}


.form-control {
    height: 32px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #aabf16;
    font-size: 18px;
}

.form-control:focus {
    outline: none;
    background-color: #f6fbe7;
}

.form-control::placeholder {
    font-family: karla;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.302);
}


.form-check-input:checked {
    accent-color: #ff5733; /* Cambia al color deseado */
}

#observaciones {
    font-family: karla;
    font-size: 16px;
    height: 98px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #aabf16;
}

#observaciones:focus {
    outline: none;
    background-color: #f6fbe7;
}

#observaciones::placeholder {
    color: rgba(0, 0, 0, 0.302);
}

#formAdopcion {
    box-shadow: 0 0 12px rgba(170, 191, 22, 0.50);
    border-radius: 15px;
    padding-bottom: 2rem;
}
