/* ESTILOS GENERALES */
body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #FFFDF9;
    color: #2B2B2B;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html{
    height: 100%;
}

main{
    padding-top: 8rem;
    padding-bottom: 3rem;
    flex: 1;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    font-family: "Karla", sans-serif;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

.parrafo {
    max-width: 600px;
    margin-top: 0;
}

/* HEADER */
.navbar {
    background-color: #AABF16;
    color: #FFFDF9;
}

#pagina-actual {
    font-weight: bold;
    border-bottom: 2px solid #fffdf9;
}

.navbar img {
    height: 45px;
}

.navbar-toggler {
    border: 0;
}

/* FOOTER */
footer {
    background-color: #AABF16;
}

footer a {
    color: #FFFDF9;
}

footer a:hover {
    color: #FFFDF9;
    font-weight: 600;
}

footer img {
    height: 32px;
}

button {
    color: #FFFDF9;
    padding: 10px 15px;
    align-items: center;
    text-decoration: none;
    background-color: #c8d169;
    border-radius: 20px;
    border: none;
    gap: 10px;
    font-size: 16px;
}

button:hover{
    background-color: #AABF16;
}