/* ESTILOS GENERALES */
body {
    padding-top: 80px;
    font-family: "Inter";
    font-size: 16px;
    line-height: 1.6;
    background-color: #FFFDF9;
    color: #2B2B2B;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html{
    height: 100%;
}

main{
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex: 1;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    font-family: "Karla";
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.parrafo {
    max-width: 600px;
    margin-bottom: 1rem;
}

/* HEADER */
.navbar {
    background-color: #AABF16;
    color: #FFFDF9;
}

.navbar img {
    height: 45px;
}

.navbar-toggler {
    border: 0;
}

/* FOOTER */
footer {
    background-color: #AABF16;
}

footer a {
    color: #FFFDF9;
}

footer a:hover {
    color: #FFFDF9;
    font-weight: 600;
}

footer img {
    height: 32px;
}