
/*CSS HEADER*/

.header-home {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    animation: encoger;
    animation-duration: 1s;
    animation-timeline: scroll(root);
    animation-fill-mode: both;
    animation-range: 0% 400px;
    transition: all 0.5s ease;
}

/* encoger header */
@keyframes encoger {
    from {
        height: 330px;

    }

    to {
        height: 80px;
        background-image: none;
        background-color: #AABF16;
    }
}

/*quitar gradient*/
@keyframes quitarGradient {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
    }
}

.header-home::before {
    content: "";
    position: absolute;
    inset: 0;
    
    /* ocupa todo el header */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4),
            /* más oscuro arriba */
            rgba(0, 0, 0, 0.1)
            /* más claro abajo */
        );
    background-image: url(/img/cabecera.png);
    background-size: cover;
    animation: quitarGradient;
    animation-duration: 1s;
    animation-timeline: scroll(root);
    animation-fill-mode: both;
    animation-range: 0% 400px;
    /* no bloquea clics */
}


body {
    padding-top: 330px;
}


.navbar{
    animation: transparente;
    animation-duration: 1s;
    animation-timeline: scroll(root);
    animation-fill-mode: both;
    animation-range: 0% 400px;
}

@keyframes transparente {
    from {
        background-color: transparent;

    }

    to {
        background-color: #AABF16;
    }
}


/*VERSION MOVIL*/
@media (max-width:992px) {

    .header-home {
        height: 80px;
        animation: none;
        background-color: #AABF16;
    }

    .header-home::before {
        animation: none;
        background: none;
        background-image: none;
    }

    .navbar {
        animation: none;
        background-color: #AABF16 !important;
    }

    body {
        padding-top: 80px;
    }
}